<h1>Graphics View</h1>
<a href='#' id="switch-to-maps">Switch to map layer indicators</a>
{{subView "StackedColumnView" indicatorName='recycling_rates'}}
{{subView "PieChartView" indicatorName='waste_by_sector'}}
{{subView "StackedColumnView" indicatorName='waste_by_sector'}}
