<h1>Environment in my Pocket</h1>
<p>
  This data is based on the data in the government 'Environement in my Pocket'
  report. The JSON was constructed by hand, containing metadata and data API
  points. The data was constructed to determine the viability of auto generating
  maps, and what fields would be needed in the metadata description.
</p>
<a href='#' id="switch-to-esri">Switch to esri layer indicators</a>
{{addSubViewTo view "StackedColumnView" indicatorName='recycling_rates'}}
{{addSubViewTo view "PieChartView" indicatorName='waste_by_sector'}}
{{addSubViewTo view "StackedColumnView" indicatorName='waste_by_sector'}}
