<h1>Graphics View</h1>
{{subView "StackedColumnView" indicatorName='recycling_rates'}}
{{subView "PieChartView" indicatorName='waste_by_sector'}}
{{subView "StackedColumnView" indicatorName='waste_by_sector'}}
