<h1>ESRI service graphics</h1>
<p>
  Graphics generated from JSON APIs based on ESRI services. I added axes data to
  the basic layer descriptor to make automatic generation of graphics possible.
  Check the README for details.
</p>
<a href='#' id="switch-to-environment">Switch to envionment in pocket 'ideal' data</a>
{{#each models }}
  {{subView "MapView" model=this}}
{{/each }}
